.tabs {
    padding: 3rem 0;
    margin-top: 5rem;
    @media (max-width: 36.12em) {
        padding: 0 2rem;
    }

    &__header {
        border-bottom: 2px solid #20484f7e;
        padding: 2rem 0;
        @media (max-width: 62em) {
            border: none;
        }
        &-text {
            h2 {
                font-size: $header-font-medium;
            }

            p {
                font-size: $font-size-small;
                margin-top: 2rem
            }
        }
    }

    &__btn {

        @media (max-width: 62em) {
            margin-top: 5rem;
        }
        a {
            @include primary-color-btn;
            position: absolute;
            transition: all .2s;
            &:hover {
                @include dark-btn-hover;
            }
        }
    }

    &__functions {
        margin-top: 4rem;
        padding: 0;

        &-listbox {
            @media (max-width: 62em) {
                width: 49%;
            }
            padding: 2rem;
            border-radius: 12px;
            border: 1px solid #20484f7e;
            margin-bottom: 2rem;
            cursor: pointer;
            transition: all .2s;
            &:hover {
                background-color: $primary-color;
                h3, p {
                    color: #fff;
                }
            }
            
            h3 {
                font-size: $font-size-medium;
                font-weight: 600;
            }

            p {
                font-size: $font-size-small;
            }
        }

        &-imgbox {
            position: relative;
            p {
                font-family: 'Shadows Into Light', cursive;
                position: absolute;
                font-size: $font-size-small;
            }

            .first {
                left: 10%;
            }

            .second {
                top: 0;
                right: 0;
            }

            .third {
                right: 20%;
            }
            img {
                width: 100%;
                background-size: cover;
                background-position: center;
            }
        }
    }
}