// Colors

$primary-color: #20484F;
$secondary-color: #B8E4DA;

$text-color-dark: #072125;
$text-color-light: #20484F;

$gray-shade: #20484F1A;


// Text font-sizes

$font-size-x-small: 1.4rem;
$font-size-small: 1.6rem;
$font-size-medium: 1.8rem;
$font-size-large: 2.4rem;

// Header font-sizes

$header-font-small: 3.2rem;
$header-font-medium: 4rem;
$header-font-large: 6.4rem;

// Font-family 

$primary-font: 'Plus Jakarta Sans', sans-serif;

// Border radius

$primary-border-radius: 8px;